<section class="main-product">
    <img src="{{ settings.mproduct.featured_image | img_url: 'master'
}}" alt="{{ settings.mproduct.featured_image.alt }}" class="main-product__image">
    <div class="main-product__title">{{ settings.mproduct.title }}</div>
    <div class="main-product__description">{{ settings.mproduct.description }}</div>
    <div class="main-product__price">{{ settings.mproduct.price | money }}</div>
    {% form "product", product %}
    <button type="submit" class="main-product__cart">Add To Cart</button> {% endform %}

</section>